.btn{
	margin: 20px;
	padding: 10px;
	width: 120px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	color: #fff;
	transition: 0.6s;
	font-size: 25px;
	background-size: 200%;
}

.btn1{
	background-image: linear-gradient(to left,#00cec9,#81ecec,#00cec9);

}
.btn2{
	background-image: linear-gradient(to left,#d63031,#ff7675,#d63031);
}

.btn3{
	background: #1abc9c;
}


.btn:hover{
	background-position: right;
	color: #fff;
}